$accent: #272C40;
$accent2: #AAB9BF;
$accent3: #aF3C34;
$back: #efefef;
$back2: #dfdfdf;

@font-face {
    font-family: "Awesome-Solid";
    src: url('../fonts/fa-solid-900.ttf');
}

@font-face {
    font-family: "Akrobat";
    src: url('../fonts/AkrobatRegular.ttf');
}